<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goals</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="sidebar">
      <a href="/home" id="homeTab">Home</a>
      <a href="/goals" id="goalsTab" class="active">Goals</a>
      <a href="/corners" id="cornersTab">Corners</a>
    </div>

    <div class="main-content">
      <div class="form-container">
        <h1>Goals</h1>
        League
        <select id="league"></select
        ><br /><br />
        Season
        <select id="season"></select
        ><br /><br />
        Team
        <select id="team"></select>
        <br /><br />

        <input
          type="text"
          id="exactNumGoals"
          placeholder="Enter number of goals for % of matches with scored goals"
        />

        <button id="calcGoalsBtn">Calculate</button>
        <div id="result" class="result inactive">
          <span id="calc"></span>
        </div>
      </div>
    </div>

    <script type="module" src="beScript.js"></script>
  </body>
</html>
