<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backtesting Alerts</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="sidebar">
      <a href="/home" id="homeTab">Home</a>
      <a href="/be" id="beTab">Backtesting avgs</a>
      <a href="/bep" id="bepTab">Backtesting %</a>
      <a href="/bealert" id="beAlertTab" class="active">Backtesting Alerts</a>
      <a href="/goals" id="goalsTab">Goals</a>
      <a href="/corners" id="cornersTab">Corners</a>
    </div>

    <div class="main-content">
      <div class="container">
        <h1>Backtesting Alerts</h1>

        <select aria-label="League" class="league-select" id="beLeague">
          <option>League</option>
        </select>

        <div class="row">
          <div class="column">
            <h2>HOME TEAM</h2>

            <h4>Average goals in general</h4>
            <div class="input-group">
              <select
                aria-label="More or less"
                id="beAvgHComp"
                name="comparisonOption"
              >
                <option value="more">more</option>
                <option value="less">less</option>
              </select>
              <span>than</span>&nbsp;
              <input type="text" id="beAvgH" placeholder="Number of goals" />
            </div>

            <h4>Average goals at Home</h4>
            <div class="input-group">
              <select aria-label="More or less" id="beAvgHomeComp">
                <option>more</option>
                <option>less</option>
              </select>
              <span>than</span>&nbsp;
              <input type="text" id="beAvgHome" placeholder="Number of goals" />
            </div>

            <h4>Average goals scored/conceded</h4>
            <div class="input-group">
              <select aria-label="Scored or conceded" id="beAvgHomeSCOpt">
                <option>scored</option>
                <option>conceded</option>
              </select>
              <select aria-label="More or less" id="beAvgHomeSCComp">
                <option>more</option>
                <option>less</option>
              </select>
              <span>than</span>&nbsp;
              <input
                type="text"
                id="beAvgHomeSC"
                placeholder="Number of goals"
              />
            </div>

            <h4>Average goals in 1H/2H</h4>
            <div class="input-group">
              <select aria-label="1st or 2nd half" id="beAvgHomeHalf">
                <option>1st half</option>
                <option>2nd half</option>
              </select>
              <select aria-label="More or less" id="beAvgHomeHalfComp">
                <option>more</option>
                <option>less</option>
              </select>
              <span>than</span>&nbsp;
              <input
                type="text"
                id="beAvgHomeHalfGoals"
                placeholder="Number of goals"
              />
            </div>
          </div>

          <div class="column">
            <h2>AWAY TEAM</h2>

            <h4>Average goals in general</h4>
            <div class="input-group">
              <select
                aria-label="More or less"
                id="beAvgAComp"
                name="comparisonOption"
              >
                <option value="more">more</option>
                <option value="less">less</option>
              </select>
              <span>than</span>&nbsp;
              <input type="text" id="beAvgA" placeholder="Number of goals" />
            </div>

            <h4>Average goals Away</h4>
            <div class="input-group">
              <select aria-label="More or less" id="beAvgAwayComp">
                <option>more</option>
                <option>less</option>
              </select>
              <span>than</span>&nbsp;
              <input type="text" id="beAvgAway" placeholder="Number of goals" />
            </div>

            <h4>Average goals scored/conceded</h4>
            <div class="input-group">
              <select aria-label="Scored or conceded" id="beAvgAwaySCOpt">
                <option>scored</option>
                <option>conceded</option>
              </select>
              <select aria-label="More or less" id="beAvgAwaySCComp">
                <option>more</option>
                <option>less</option>
              </select>
              <span>than</span>&nbsp;
              <input
                type="text"
                id="beAvgAwaySC"
                placeholder="Number of goals"
              />
            </div>

            <h4>Average goals in 1H/2H</h4>
            <div class="input-group">
              <select aria-label="1st or 2nd half" id="beAvgAwayHalf">
                <option>1st half</option>
                <option>2nd half</option>
              </select>
              <select aria-label="More or less" id="beAvgAwayHalfComp">
                <option>more</option>
                <option>less</option>
              </select>
              <span>than</span>&nbsp;
              <input
                type="text"
                id="beAvgAwayHalfGoals"
                placeholder="Number of goals"
              />
            </div>
          </div>
        </div>

        <button id="beCalcBtn"><b>Set alerts</b></button>
      </div>
    </div>

    <div id="pushNotification" class="notification hide">
      <span id="notificationMessage">This is a notification</span>
    </div>

    <script type="module" src="beAlertScript.js"></script>
  </body>
</html>
