<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goals</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="sidebar">
      <a href="/home" id="homeTab">Home</a>
      <a href="/goals" id="goalsTab" class="active">Goals</a>
      <a href="/corners" id="cornersTab">Corners</a>
    </div>

    <div class="main-content">
      <div class="form-container">
        <h1>Goals</h1>
        <input type="text" id="league" placeholder="League Id" />
        <input type="text" id="season" placeholder="Season Id" />
        <input type="text" id="team" placeholder="Team Id" />

        <div class="form-row">
          <input type="radio" id="whole" name="duration" value="0" checked />
          <label for="whole">Whole match</label>
          <input type="radio" id="firstHalf" name="duration" value="1" />
          <label for="firstHalf">First half</label>
          <input type="radio" id="secondHalf" name="duration" value="2" />
          <label for="secondHalf">Second half</label>
        </div>

        <div class="form-row">
          <input
            type="radio"
            id="number"
            name="dataSet"
            value="false"
            checked
          />
          <label for="number">Number</label><br />
          <input type="radio" id="average" name="dataSet" value="true" />  
          <label for="average">Average</label><br />
        </div>

        <div class="form-row">
          <input
            type="checkbox"
            id="conceded"
            name="conceded"
            label="Goals conceded"
          />
          <label for="conceded">Goals conceded</label>
        </div>

        <hr />

        <button id="calcGoalsBtn">Calculate</button>
        <div id="result" class="result inactive">
          <span id="calc"></span>
        </div>
      </div>
    </div>

    <script type="module" src="goalsScript.js"></script>
  </body>
</html>
