<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goals</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="sidebar">
      <a href="/home" id="homeTab">Home</a>
      <a href="/goals" id="goalsTab" class="active">Goals</a>
      <a href="/corners" id="cornersTab">Corners</a>
    </div>

    <div class="main-content">
      <div class="form-container">
        <h1>Goals</h1>
        <input type="text" id="league" placeholder="League Id" />
        <input type="text" id="season" placeholder="Season Id" />
        <input type="text" id="team" placeholder="Team Id" />
        <button id="calcGoalsBtn">Calculate</button>
        <div id="result" class="result inactive">
          <span id="avgGoals"></span>
        </div>
      </div>
    </div>

    <script type="module" src="goalsScript.js"></script>
  </body>
</html>
